.p-paginator-pages {
  display: flex;
  gap: 8px;
}

.p-paginator-page {
  margin: 0;
  width: 28px;
  height: 28px;
  border: none;
  min-width: auto;
}

.p-paginator {
  padding-top: 24px;
}

.p-column-title {
  width: 100%;
}

.p-datatable-header {
  background-color: #fff;
  padding: 0;
  padding-bottom: 12px;
}

.p-treeselect-label {
  padding: 6px 0 6px 14px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #4d4d4d;
}

.p-treeselect-trigger {
  width: 2rem;
}

.p-treeselect-trigger svg {
  width: 16px;
  height: 16px;
  color: #4d4d4d;
}
