.p-paginator-pages {
  display: flex;
  gap: 8px;
}

.p-paginator-page {
  margin: 0;
  width: 28px;
  height: 28px;
  border: none;
  min-width: auto;
}

.p-paginator {
  padding-top: 24px;
}

.p-column-title {
  width: 100%;
}

.p-datatable-header {
  background-color: #fff;
  padding: 0;
  padding-bottom: 12px;
}
